<div class="container">
    <div class="row mx-auto text-center">
        <p>Let the battle begin!</p>
    </div>
    <div class="row">
        <div class="col-6 mx-auto text-center">
            <p> {{monster.name}} vs {{character.name}}</p>
        </div>
    </div>
    <div class="row mx-auto justify-content-center">
        <div class="col-6">
            <img src="../images/{{monster.id}}.png" alt="{{monster.name}}" class="img-fluid rounded" style="max-height: 500px; max-width: 250px border: 3px solid white;">
        </div>
        <div class="col-6">
            {{>battle-character}}
        </div>
    </div>
    <div class="row">
        <div class="col-3 mx-auto text-left">
            <button class="btn btn-primary" type="submit">Play Again</button>
        </div>
        <div class="col-3 mx-auto text-left">
            <button class="btn btn-primary" type="submit">Exit</button>
        </div>
    </div>
</div>
<scrip src="/js/battle.js"></scrip>