<div class="container-fluid">
<!-- Welcome Message Row -->
<br>
  <div class="row">
    <div class="col-12 text-center mb-4">
      <!-- Add dark background with some opacity for the welcome message -->
      <div class="p-5 bg-dark bg-opacity-50 shadow rounded">
        <h1 class="fw-bold text-uppercase text-white">Welcome to My Sequel Adventure</h1>
        <p class="fs-4 text-white">Pave your own path through a limitless onslaught of monsters.</p>
        <p class="text-white">It’s your adventure, and you’ll decide how you’ll tackle the monsters ahead.</p>
        <p class="text-white">Tell your story.</p>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
        <img src="../images/WELCOMETOMYSEQUELADVENTURE.png" alt="Game Logo" style="width: 400px ;height: 300px;">
  </div>
  <br>
  <div class="row justify-content-center">
    <div class="col-auto">
      <div class="btn-group" role="group" aria-label="Login Button">
        <a class="btn btn-primary" href="/login" >Login</a>
      </div>
      <div class="btn-group" role="group" aria-label="Singup Button">
        <a class="btn btn-primary" href="/signup" >Signup</a>
      </div>
    </div>
  </div>
</div>
