<div class="container-fluid vh-100">
  <!-- Login Form Row -->
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6 col-lg-4">
      <!-- Login form container with shadow for depth -->
      <div class="bg-opacity-50 shadow rounded p-4">
        <h2 class="text-white">Login</h2>
        <form class="form login-form bg-dark bg-opacity-75 rounded p-3" id="loginForm">
          <div class="mb-3">
            <label for="username-login" class="form-label text-white">Username:</label>
            <input type="text" id="username-login" class="form-control" name="username" required />
          </div>
          <div class="mb-3">
            <label for="password-login" class="form-label text-white">Password:</label>
            <input type="password" id="password-login" class="form-control" name="password" required />
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Log In</button>
          </div>
        </form>
          <a href="/signup" class="btn btn-link text-white">or sign up here!</a>
          <div class="mt-3"> <img src="../images/WELCOMETOMYSEQUELADVENTURE.png" alt="Game Logo" style="max-width: 100%; height: auto;">
        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/login.js"></script>
