<div class="container">
    <div class="row">
        <p>Who will you challenge?</p>
    </div>
    <div class="row">
    {{#each monsters}}
    <div class="row">{{monsters.name}}</div>
    <div class="col-2">
        <img src="" height="100px" width="100px">
    </div>
    <div class="col-4">
        {{!-- <div class="col-6 mx-auto text-left">
            <p> Monster 1 {{{monster.id}}}</p>
            <button class="btn btn-primary" type="submit">select</button>
        </div>
        <div class="col-6 mx-auto text-left">
            <p> Monster 2 {{{monster.id}}}</p>
            <button class="btn btn-primary" type="submit">select</button>
        </div> --}}
    </div>
    {{/each}}
</div>