<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-6 col-lg-4 text-center">
      <div class="bg-dark bg-opacity-75 shadow rounded p-4 my-5">
         <div class="mt-3"> <img src="../images/signup.png" alt="Game Signup" style="max-width: 100%; height: auto;"><div/>
        <h2 class="text-white mb-4">  </h2>
        <form class="form signup-form">
          <div class="mb-3">
            <label for="username-signup" class="form-label text-white">Username:</label>
            <input class="form-control" type="text" id="username-signup" />
          </div>
          <div class="mb-3">
            <label for="password-signup" class="form-label text-white">Password:</label>
            <input class="form-control" type="password" id="password-signup" />
          </div>
          <div class="d-grid gap-2">
            <button class="btn btn-primary" type="submit">Signup</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<script src="/js/signup.js"></script>
