
body {
    background-image: url('../images/backg.png'); /* Adjust path as necessary */
    background-size: cover; /* Cover the entire page */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed; /* The background is fixed with regard to the viewport */
    color:rgb(250, 237, 221);
}
.monster-row:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.animated-button {
    transition: background-color 0.3s, transform 0.3s;
}

.animated-button:hover {
    background-color: #007bff; /* Darker shade of primary */
    transform: translateY(-3px);
}

.h5 {
    color: blue;
}